name: API Check

on:
    pull_request:

jobs:
    check:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
              with:
                  fetch-depth: 0

            - name: Download CLI
              env:
                  GH_TOKEN: ${{ secrets.GH_PAT }}
              run: |
                  curl -sL \
                    -H "Accept: application/octet-stream" \
                    $(curl -s \
                      https://api.github.com/repos/AsteriusIT/apiops-engine-cli/releases/latest \
                      | jq -r '.assets[] | select(.name == "apiops-engine-cli-linux-amd64") | .url') \
                    -o apiops-engine-cli
                  chmod +x apiops-engine-cli

            - name: Check breaking changes
              run: |
                  ./apiops-engine-cli api diff \
                    -s git:origin/main:openapi.yaml \
                    -t file:./openapi.yaml \
                    --publish
