name: API Check

on:
    pull_request:

jobs:
    check:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
              with:
                  fetch-depth: 0

            - name: Download CLI
              env:
                  GH_TOKEN: ${{ secrets.GH_PAT }}
              run: |
                  RESPONSE=$(curl -s \
                    -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" \
                    https://api.github.com/repos/AsteriusIT/apiops-engine-cli/releases/tags/v0.0.3)
                  echo "API Response: $RESPONSE"

                  URL=$(echo "$RESPONSE" | jq -r '.assets[] | select(.name == "apiops-engine-cli-linux-amd64") | .browser_download_url')
                  echo "Download URL: $URL"

                  curl -sL -o apiops-engine-cli "$URL"
                  chmod +x apiops-engine-cli

            - name: Check breaking changes
              run: |
                  ./apiops-engine-cli api diff \
                    -s git:origin/main:openapi.yaml \
                    -t file:./openapi.yaml \
                    --publish
